# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
*~
* venv